@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()


        if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello @Html.Action("UserNavPartial", "Account")
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/profile">Profile</a>
                    <a class="dropdown-item" href="~/profile/all-users">All Users</a>
                    <a class="dropdown-item" href="~/profile/all-voters">Users In Voting App</a>
                    <a class="dropdown-item" href="~/account/requests">Member Requests</a>
                    <a class="dropdown-item" href="~/blog/add-news">Upload News</a>
                    <a class="dropdown-item" href="~/blog/news-management">All News</a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                </div>
            </li>
        }
        else if (User.IsInRole("Electoral Admin") || User.IsInRole("Electoral Supervisor"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello @Html.Action("UserNavPartial", "Account")
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/profile">Profile</a>
                    <a class="dropdown-item" href="~/blog/add-news">Upload News</a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                </div>
            </li>
        }
        else
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello @Html.Action("UserNavPartial", "Account")
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/profile">Profile</a>
                    @*<a class="dropdown-item" href="~/blog/add-news">Upload News</a>*@
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                </div>
            </li>
        }


    }
}
else
{
    <div class="d-flex">
        <li class="nav-item">
            @Html.ActionLink("Login", "login", "account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "navbar-btn btn btn-primary btn-register lift ml-auto my-1" })
        </li>

        <li class="nav-item">
            @Html.ActionLink("Register", "register", "account", routeValues: new { returnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { @class = "navbar-btn btn btn-primary btn-register lift ml-auto my-1" })
        </li>
    </div>
}
