@model Lagsoba94.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<!-- Breadcrumb -->
<section class="section-contact mb-3">
    <div class="hero-wrapper p-4">
        <div class="hero-bg--overlay"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="hero-content d-flex align-items-center justify-content-center">
                    <div class="d-flex w-100 flex-column align-items-center justify-content-center">
                        <h3 class="text-white text-center">
                            Edit Account Password
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ breadcrumb -->


<div class="container">
    <div class="row my-3">
        <div class="col-lg-3"></div>

        <div class="col-lg-6 my-3 change-password">

            <div class="my-5 heading">
                <h4 class="page-title">@ViewBag.Title</h4>
                <p class="page-subtitle">Update your existing password.</p>
            </div>

            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div>
                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group change-password-action">
                    <div>
                        <input type="submit" value="Change password" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}