@model Lagsoba94.Areas.Vote.Models.ViewModel.ElectionVM


@Html.AntiForgeryToken()

    <div class="col-lg-6">
        <h4 class="text-uppercase">Election Dates</h4>
        <p>Election starts on: <strong> @ViewBag.StartDate </strong></p>
        <p>Election ends on: <strong> @ViewBag.EndDate </strong></p>
    </div>

    <div class="col-lg-6">
        <form id="electionDateForm">
            @Html.ValidationMessage("error", htmlAttributes: new { @class = "text-danger" })
            @if (ViewBag.Errors != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.Errors</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }


            <div class="form-group row">
                <div class="col-12 col-lg-6">
                    <label>Start Date</label>
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field End Date must be a date." data-val-required="The End Date field is required." id="StartDate" name="StartDate" type="date" min="@ViewBag.Limit">
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>

                <div class="col-12 col-lg-6">
                    <label>End Date</label>
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field End Date must be a date." data-val-required="The End Date field is required." id="EndDate" name="EndDate" type="date" min="@ViewBag.Limit">
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="d-flex justify-content-end align-items-end">
                <button type="button" onclick="changeDate()" class="btn btn-print" style="float:right;">
                    Change Election Dates
                    <div id="loaderSpan">
                        <span class="spinner-grow spinner-grow-sm" id="loader" style="display: none;"></span>
                    </div>
                </button>
            </div>
        </form>
    </div>   


 

<script>
    function changeDate() {
        $('#loaderSpan').show('slow')

        var startDate = $("#StartDate").val();
        if (startDate == "") {
            alert("Please select a start date");
            return;
        }

        var selectedDate = $("#EndDate").val();
        if (selectedDate == "") {
            alert("Please select an end date");
            return;
        }

        data = $('#electionDateForm').serialize();

        $.ajax({
            type: "POST",
            url: "/vote/candidate/_electiondatepartial",
            cache: false,
            data: data,
            success: function (result) {
                if (result.Status === 0) {
                    alert(result.Message)
                } else if (result.Status === 1) {
                    window.location.href = "/vote/home/vote-results/"
                }
            },
            failure: function () {
                alert("An error occured, please try again.")
            }
        })
    }
</script>