@model Lagsoba94.Areas.Vote.Models.ViewModel.PositionVM

@{
    ViewBag.Title = "Edit Position";
}

@if (TempData["SCC"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SCC"]</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<!-- Row -->
<div class="row mt-2 edit-pos">
    <div class="col-lg-12 col-xs-12">

        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label class="mr-3">Active</label>
                            <span>
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save Changes" class="btn btn-new-pos" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- /Row -->


<div>
    <a href="~/vote/candidate/" class="btn btn-go-back"><i class="fas fa-sign-out-alt"></i> Back To Positions</a>
</div>
